 .u-section-1 {
  min-height: 991px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 866px);
  height: 263px;
  background-image: none;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -871px auto -428px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 751px;
}

.u-section-1 .u-container-layout-1 {
  padding: 155px 45px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 32px 109px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  margin: 148px 225px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 751px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 428px;
  height: 378px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 555px;
  height: 679px;
  margin: -306px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 932px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 671px);
    height: 188px;
    margin-top: 70px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -812px;
    margin-bottom: -476px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 714px;
  }

  .u-section-1 .u-image-1 {
    height: 642px;
    width: 445px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 811px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 584px);
    height: 148px;
    margin-top: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -691px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 76px;
    margin-right: 51px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-1 .u-shape-2 {
    width: 354px;
  }

  .u-section-1 .u-image-1 {
    width: 333px;
    height: 531px;
    margin-top: -315px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 1082px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 55px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 414px;
    height: 554px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 128px;
    margin-top: 60px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -966px;
    margin-bottom: -720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-1 .u-shape-2 {
    width: 258px;
    height: 276px;
  }

  .u-section-1 .u-image-1 {
    width: 273px;
    height: 387px;
    margin-top: -236px;
    margin-left: 27px;
  }
}
#tm-nav {
  z-index: 1000;
}

.navbar a {
  color: white;
}

.navbar-brand {
  font-size: 2.4rem;
}

.navbar {
  margin-top: 15px;
}

.navbar .navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
  padding: 15px 65px;
  border-bottom: 1px solid white;
}

.nav-item {
  position: relative;
}

.circle {
  position: absolute;
  left: calc(50% - 10px);
  bottom: -10px;
  width: 20px;
  height: 20px; 
  background-color: white;
  border-radius: 50%;
}

.tm-border-bottom {
  border-bottom: 1px solid white;
  padding-bottom: 48px;
}

